<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    <title>Graph</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<div class="graph">
		<div class="left__side">
			<div class="vertexes">
				
			</div>
			<canvas id="graphCanvas" width="700" height="700"></canvas>
		</div>
				
		<div class="right__side">
			<div class="buttons__inner">
				<button class="button" id="addNodeBtn">Добавить вершину</button>
				<button class="button" id="deleteNodeBtn">Удалить вершину</button>
				<button class="button" id="createEdgeBtn">Добавить ребро</button>
				<button class="button" id="matrix__adjacency">Матрица смежности</button>
				<button class="button" id="matrix__incidentality">Матрица инцидентности</button>
				<button class="button" id="weight__matrix">Весовая матрица</button>
			</div>

			<div id="myModal" class="modal">
				<div class="modal-content">
					<span class="close" onclick="closeModal()">&times;</span>
					<p>Введите значение для вершины:</p>
					<input type="text" id="nodeValue">
					<button id="addNodeModalBtn">Добавить вершину</button>
				</div>
			</div>	

			<div class="table__inner">
				<table id="matrix__adj"></table>
				<table id="matrix__incid"></table>
				<table id="matrix__weight"></table>
			</div>	
		</div>
	</div>
	
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>